In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt
import pandas as pd

# Path to files
city_data = 'Resources/city_data.csv'
ride_data = 'Resources/ride_data.csv'

# Read in the files
city_data_df = pd.read_csv(city_data)
ride_data_df = pd.read_csv(ride_data)

In [4]:
# Count of Rows for city data
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [5]:
# Count of Rows for ride data
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [6]:
# Count of nulls in city data
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
# Count of nulls in ride data
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [10]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [11]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [12]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [13]:
sum(city_data_df['type'] == 'Urban')

66

In [14]:
sum(city_data_df['type'] == 'Suburban')

36

In [15]:
sum(city_data_df['type'] == 'Rural')

18

In [ ]:
pyber_data_df = pd.merge(ride_data_df, city_data_df, how= "left", on )